<div class = "wrapper">
    <footer>
        <ul class = "footer-links-main">
            <li><a routerLink = "/home">Home</a></li>
            <li><a routerLink = "/menu">Menu</a></li>
            <li><a href = "#location">Location</a></li>
            <li><a href = "#">About Me</a></li>
            <li><a href = "#">Contact</a></li>
        </ul>
        <ul class = "footer-links-cases">
            <li><p>Latest Cases</p></li>
            <li><a href = "#">Mailing Shaolin - Web Development</a></li>
            <li><a href = "#">Excellento - Web Development, Seo</a></li>
            <li><a href = "https://www.youtube.com/channel/UCqdQhDHHdZ5ibDi3cW88RuQ" target="_blank">SEN ISXAC - Youtube Channel</a></li>
            <li><a href = "#">Weltec - Video Production</a></li>
        </ul>
        <div class = "footer-icons">
            <a  href = "https://www.instagram.com/wendocakes" target="_blank">
                <img src = "../../assets/social_icons/Instagram.jpg" alt = "Instagram Icon">
            </a>
                <a href = "https://twitter.com/GIsxac"><img src = "../../assets/social_icons/twitter.png" alt = "Twitter Icon">
            </a>
                <a href = "#"><img src = "../../assets/social_icons/facebook.png" alt = "Facebook Icon"> 
            </a>
        </div>
    </footer>
</div>