<div *ngIf = "product.title" class="card-image">
    <figure class="image is-4by3">
        <img *ngIf = "product.imageUrl" [src]="product.imageUrl" alt="{{ product.title }}">
    </figure>
</div>     
<div class="card-content">
    <div class="media">
        <div class="media-left"></div>
        <div class="media-content">
        <p class="title is-4">{{ product.title }}</p>
        <p class="subtitle is-6">{{ product.category }}</p>
        </div>
    </div>
    <div class="content">
        {{ product.price | currency:"KSH: " :'symbol':'1.1' }}
        <br>
    </div>
</div>
<footer class="card-footer">
    <button
    *ngIf = "getQuantity() === 0; else updateQuantity"
    (click) = "addToCart()"
    class="button is-link is-fullwidth" >Add to cart</button>
    <ng-template #updateQuantity class = "columns">
        <div class="column">
            <button (click) = "removeFromCart()"  class = "button is-light is-fullwidth">-</button>
        </div>
        <div class = "column">
            <div class = "has-text-centered">{{ getQuantity() }} in cart</div>
        </div>
        <div class="column">
            <button (click) = "addToCart()" class = "button is-light is-fullwidth">+</button>
        </div>
    </ng-template>
</footer>