<header id = "navbar" [ngStyle] = "{ position : positioning }" [class] = "styling"> 
    <div  *ngIf = "user"  class="dropdown"  [class.is-active] = "value" (click) = "value=!value">
        <div class="dropdown-trigger" >
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <a class="navbar-item">
                <img src="https://cdn1.iconfinder.com/data/icons/instagram-ui-glyph/48/Sed-09-512.png"  width="28">
            </a>
            <h1>Hi, {{ user.name }}</h1>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
          <ng-container *ngIf="user.isAdmin">
            <a  *ngIf = "user" class = "dropdown-item" routerLink="/new-product">New products</a>
          </ng-container>
          <a  routerLink = "/shopping-cart" class="dropdown-item">
              Shopping Cart
            </a>
            <a href="#" class="dropdown-item" (click) = "logout()">
              Logout
            </a>
          </div>
        </div>
      </div>

    <a routerLink="" class = "wendoh-text" >WENDOH CAKES</a> 
    <nav class = "hello">
        <ul>
            <li><a routerLink = "/menu" ><em>Menu</em></a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
            <li><a  routerLink="/location">Find Us</a></li>
            <li><a  routerLink="/about-me">About me</a></li>
            <li><a  *ngIf = "!user" routerLink="/login">Login</a></li>
        </ul>
    </nav>
</header>