<header id = "navbar" [ngStyle] = "{ position : positioning }" [class] = "styling"> 
    <!-- <button><img src = "../../assets/social_icons/blank_profile_picture.png" ></button>    -->
    <a routerLink="" class = "wendoh-text" >WENDOH CAKES</a>       
    <nav>
        <ul>
            <li><a routerLink = "/menu" ><em>Menu</em></a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
            <li><a  routerLink="/location">Find Us</a></li>
            <li><a  routerLink="/about-me">About me</a></li>
            <li><a  routerLink="/login">Login</a></li>
        </ul>
    </nav>
</header>