<header id = "navbar" [ngStyle] = "{ position : positioning }" [class] = "styling">    
    <a routerLink="" class = "wendoh-text" >WENDOH CAKES</a>       
    <nav>
        <ul>
            <li><a routerLink = "/menu" ><em>Menu</em></a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
            <li><a  routerLink="/location">Find Us</a></li>
            <li><a  routerLink="/about">About me</a></li>
            <li><a  routerLink="/login">Login</a></li>
        </ul>
    </nav>
</header>