<new-nav></new-nav>
<div class = 'columns'>
        <div class = "about-img-div column  is-half ">
            <img src="../../assets/Main Pictures/about_me_img.jpg">
        </div>
        <div class = "about-text-div column  is-half">
            <h2>Hello, I'm Jael Wendoh Kanyori</h2>
            <p>Born in kenya I am a 20 year old aspiring baker. I love cats, social events and of course baking! Coming from a big family of 7, food is the one thing that brought is all together. Now going big on my passion, I would love to...</p>
        </div>
</div>
