button {
    background-color : #FF9970;
    color : white;
    float: right;
}

.clear-cart:hover {
    background-color : red;
    color :white;
}

.shopping-title{
    margin-top : 50px;
    margin-bottom : 50px;
}
