<navbar></navbar>
<h1 class = "title"> Shopping Cart</h1>
<ng-container *ngIf = "cart">
    <p>
        You have {{ totalItemsCount }} items in your shopping cart.
    </p>
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of displayCart">
                <td>{{item.product.title}}</td>
                <td class="pq">
                    <product-quantity [product] = "item.product" [shopping-cart] = "cart"></product-quantity>
                    <!-- <p>100</p> -->
                </td>
                <td>{{ item.totalPrice   | currency:"KSH: " :'symbol':'1.1' }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>{{ displayCart.totalPrice | currency:"KSH: " :'symbol':'1.1'}}</th>
            </tr>
        </tfoot>
    </table>
</ng-container>

<button class = "button is-medium" (click)="create_order()">Create Order</button>