<new-nav></new-nav>
<div class="container is-fluid m">
  <section class="section">
      <div class="box">
          <div class="columns is-gapless main">
              <div class="column is-3">
                  <div class="content">
                      <!-- <div class="block is-hoverable" *ngFor="let item of items"> -->
                      <div class="block is-hoverable" *ngFor="let order of orders$ | async" (click) = "onClick( order)">
                          <p class="has-text-right is-size-7">{{ order.datePlaced | date}}</p>

                          <div *ngFor="let item of order.shoppingCart" class="has-text-weight-medium">
                              <p>{{ item.title }} x {{item.quantity}}</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div *ngIf = "showMyDiv"class="column a">
                  <div class="columns is-multiline ">
                      <div class = "column is-half"*ngFor="let item of thisorder.shoppingCart">
                          <product-card [product] ="item" [show-actions]="false" ></product-card>
                      </div>
                  </div>
                      
              </div>
          </div>
      </div>
  </section>
</div>