<new-nav></new-nav>
<h1 class = "title has-text-centered">Your Orders</h1>
<!-- <table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders$ | async">
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.datePlaced | date}}</td>
      <td>
        <a (click)="isActiveFunction(order)">View</a>
      </td>
    </tr>
  </tbody> 
</table> -->

<div class="block" *ngFor="let order of orders$ | async; let i = index">
  <div class="container is-fluid">
    <div class="box" [class.darker-box]="i%2 == 0">
      <div class="content">
        <div class="columns">
          <div class="column is-11">
            <p>{{order.shipping.name}}</p>
          </div>
          <div class="column">
            <a (click)="isActiveFunction(order)">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" [class.is-active]="isActive" *ngIf = "displayOrder as order">
  <div (click)="isActiveFunction()" class="modal-background" ></div>
  <div class="modal-content">
    <my-orders-modal (closeEvent)="isActiveFunction()" [order]="displayOrder"></my-orders-modal>
  </div>
</div>