.fullWidth {
    width:100%;
}

:host {
    width: 100%;
}

.minus:hover {
    background-color : red;
    color : white;
}

.plus:hover {
    background-color: rgb(31, 125, 240);
    color : white;
}
